
.tab {
    -fx-pref-width: 110;
    -fx-background-radius: 5px;
    -fx-margin: 2;
}
.tab-header-background{
    -fx-background-color: #FE9939;


}
.tab:selected {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
    -fx-background-color: BLACK;



}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}


.jfx-tab-pane .tab-selected-line {
    -fx-background-color: BLAck; -fx-pref-height: 1px; }