.root{
    -fx-background-color: #262626;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: rgb(77,77,77, 0.7);
    -fx-border-width: 2;
    -fx-padding: -3 0 0 0;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-border-color: transparent;
}

.table-view .column-header-background .label{
    -fx-text-fill: rgb(45, 45, 45);
    -fx-wrap-text: true;
    -fx-font-weight: bold;
    -fx-border-color: rgb(77,77,77, 0.7);
    -fx-border-width: 1.5;
    -fx-background-color:  rgb(255, 159, 68);
}

.table-view .column-header {
-fx-padding: -1 -1 -1 -3;
-fx-background-color:  transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
    -fx-text-alignment: CENTER;
}
/**
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
*/

.table-row-cell:selected {
    -fx-background-color: #cecece;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
    -fx-selection-bar: #adadad;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
    -fx-background-color: white;

}